
<div class="container">
    <h1>PORTAFOLIO</h1>
    
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet a delectus reprehenderit iusto expedita eos dicta, consequuntur corporis dolor unde illo dignissimos alias! Dolores, laborum!

    </p>
    <div class="row">
      <div class="col">
        <img src="/website/assets/img/big-project-image.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        <img src="/website/assets/img/big-project-image.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        <img src="/website/assets/img/big-project-image.png" class="img-thumbnail" alt="...">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h2><div class="text-primary p-2">Project Name</h2> 
        <br>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis modi quidem iure maiores. Nostrum cupiditate doloremque voluptas corporis soluta cumque vitae accusamus illum impedit illo!</p>
      </div>
      <div class="col-4">
        <h2><div class="text-primary p-2 ">Project Name</h2> 
        <br>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consectetur, maxime fugiat quo cum deserunt blanditiis. Quasi obcaecati ducimus ad necessitatibus. Quidem placeat officiis ea!</p>
      </div>
      <div class="col-4">
        <h2><div class="text-primary p-2">Project Name</h2> 
        <br>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nulla ratione dolorem culpa, reprehenderit non doloribus rerum, asperiores dolores, eveniet sed ipsam voluptatibus corporis excepturi?</p>
      </div>
    </div>
  </div> <br>
  <br>
  <div class="d-flex justify-content-end text-danger"> PORTAFOLIO.HTML </div>
</div>









</div>