<!-- your html code here -->

<div class=" d-flex container align-items-center gap-3 " >


    <img  src="/website/assets/img/2.jpg" class="rounded-circle   float-start" alt="...">
    
    <div>
    
        <h4 class="align-middle">The second headind <span class=""> Pretty Cool Too.</span></h4>
        <p class="align-middler">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum quo explicabo illum suscipit est ipsum iure eos dolorem corporis modi aspernatur fugit, laboriosam porro atque hic harum eligendi mollitia quibusdam quis beatae incidunt nobis ad et. Illo consectetur alias quos beatae blanditiis sed quam amet?</p>
    </div>
    </div>